*{
	margin: 0px;
	padding: 0px;

}

nav{
	position: sticky;
	bottom: 700px;
	height:700px;
	width: 29%;
	background-color: green;

}

nav ul{
	list-style: none;
	padding: 1em;
}

nav ul li {
	padding-bottom:1em; 
}

nav li a{
	text-decoration: none;
	color: white;
}

main{
	position:relative;
	left: 405px;
	bottom: 700px;
	width: 70%;
	height: 700px;
	background-color: red;

h1{
	font-size: 50px;
	background-color: white;
	text-align: center;
}

p{
	font-size: 20%;
	background-color: white;
}

img{
	max-width: 70%;
	max-height: 100px;
}
}



