*{
	margin: 0px;
	padding: 0px;
}

/*Estilos index.html*/

main{
	position: relative;
	width: 100%
    height: 800px;
	padding: 30px;

}

h1{
	text-align: center;
}

main form button{
	color: blue;
}



/*Estilos usuario_alta.html*/

main.alta{
	position: relative;
	width: 100%;
	height: 500px;
	padding: 30px;
}

main.alta p u{
	background-color: blue;
}



/*Estilos Coockies*/

footer nav.cookie{
	position: fixed;
	background:rgba(149,148,148,0.5);
	width: 100%;
	height: 100px;
	bottom: 0px;
	margin-left: 0px;

}

footer nav.cookie p{
	text-align: center;
}

footer nav.cookie p span{
   background-color: gray;
   border-radius: 5px;
}

footer nav.cookie button{
	position: relative;
    left: 98%;
}
