*{
	margin: 0;
	padding: 0;

}

header{
	position: sticky;
    background-color: #c3b7bc;
    height: 100px;
    z-index: 10;
}
div{
	position: relative;
	float: left;

}


img{
	height: 80px;
	margin-top: 10px;
	


}

header ul {

	position: relative;
	list-style: none;
	margin: 0 auto;
	text-align: center;
	top: 50px;

}
header ul li{
	position: relative;
	display: inline-block;
	padding-left: 20px;
}

header ul li ul{
	position: absolute;
	display: none;



}

header ul li:hover > ul{
	display: block;


}
a{
	text-decoration: none;
}
div.im{
	position: relative;
	float: left;
	background-color: #c8c9c7;
    width: 23%;
    margin: 13px;
    height: 550px;

}
img.di{

	width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

}
h2{
	top: 20px;
	text-align: center;
	margin: 20px;
}
button.ver{
	top: 20px;
	text-align: center;
	display: block;
    margin: 0 auto;
    padding: 10px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: #5f4028;
  	color: #cac5c5;
  	padding-right: 60px;
    padding-left: 60px;
}
body{
	background-color: #d9d9d6
}
nav{
	clear: both;
	top: 50px;
	position: relative;
	width: 33%;
	left: 33%;
}
p{
	
	clear: both;
	position: relative;
	font-size: 27px;
    margin-top: 50px;
}
h4{
	clear: both;
	margin-top: 30px;
}
button.sub{
	clear: both;
	border-radius: 8px;
	display: block;
    margin: 0 auto;
    border: 1px solid;
    height: 20px;
    width: 445px;
    margin-top: 10px;

}