body{

margin:0px;
padding:0px;
background-color: #D9D9D6;
}

header{
	margin:0px;
	padding:0px;
	background-color:#C3B7BC;
}

img{

}
header nav ul{
	text-align:center;
	position:relative;
	list-style:none;
}

header nav ul li{
	position:relative;
	float:left;
	padding:15px;
	left:500px;
	bottom:150px;

}

header nav ul li a{
	text-decoration:none;
	text-align:center;
	}

main nav.a1{
	margin:30px;
	padding:10px;
	background-color:#C8C9C7;
	width:300px;
	height:550px;
}


h2{
	font-size:20px;
	text-align:center;
	margin-right:650px;
	margin:10px;
	padding:10px;

	}

main nav a{
	background-color:#5F4028;
	color:white;
	text-decoration:none;
	width:300px;
	text-align:center;
	margin-left:110px;
}


main nav img{
	width:250px;
	height:400px;
	margin-left:25px;
	margin-bottom: 50px; 

}










	






}
