*{
	margin: 0;
	padding: 0;

}
form{

	color: #5151e2;
	font-size: 20px;
	border-radius: 20px;
	position: relative;
	margin-top: 100px;
	background-color: #a9a9d2;
	width: 50%;
	margin-left: 25%;
	padding: 60px;    border-color: #0b1669;
    border: 5px;
    border-style: double;

}
h2{
	text-align: center;
}
input{
	margin-top: 1em;
	margin-right: 1em;
	border-radius: 10px;
	padding: 5px;

}
p{
	margin-top: 1em;
	color: #5151e2;
}
label{
	margin-top: 1em;
	margin-left: 220px;
	color: #5151e2;
	padding: 5px;
}
select{
	margin-top: 1em;
	color: #5151e2;
	border-radius: 10px;
	padding: 5px;


}
button{
	border-radius: 10px;
	padding: 5px;

}
h2{
	text-align: center;
}