.content{
	height: 100px;
	width: 100%;
	background-color: blue;
	border:2px solid green;
	text-align: center;
}

#primero{
	background-color: red;
}

#segundo {
	position: sticky;
	top:0px;
	height:80px;
	width: 100%;
	background-color:green;
}

#cuarto{
	height: 1000px;
	margin:2em 1em 4em; 
	background-color: yellow;

}
#hijo{
	position: absolute;
}
#quinto{
	/*display: none;*/
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 80px;
	background-color: grey;
}


/*
#padre{
	position: relative;
}

#hijo{
	position: fixed;
	top:150px;
	left: 150px;
	bottom:10px;
}
*/







