*{

}
h1{
	text-align:center;
	background-color: ;
}
body div.ejercicio{
	position: relative;
	float: left;
	margin: 10px;
	padding: 5px; 
	border: 2px solid;
	border-radius: 10px;
	background-color: #91bbff;
	padding-bottom: 50px;
	width: 30%;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


}