*{
	margin: 0;
	padding: 0;
}



header{

	position: sticky;
	top: 0;
	width: 100%;
	height: 100px;
	background-color: gray;
	z-index: 1000px;
}




header img{

	height: 80px;
	float:left;

}
nav.Lista_cabecera{
	position: relative;
	width: 80%;
	top: 40px;
	/*margin: 0 auto;*/
	text-align: center;
}

nav.Lista_cabecera ul{
	position: relative;
	/*float:left;*/
	display: inline-block;
	text-align: center;
	list-style: none;
	margin: 0 auto;
	/*padding-top: 2em;*/
}

nav.Lista_cabecera ul li{
	position: relative;
	float:left;
	margin: 0px;
	padding: 0px;
	/*padding-right: 2em;*/

}

nav.Lista_cabecera ul li a{
	text-decoration: none;
	display: block;
	color: black;
	font-size: 20px;
	line-height: 20px;
	padding: 0 10px;
	font-weight: bold;
}
	

header nav.Lista_cabecera ul li a ul.submenu1{


    position: absolute;



}





/*MAIN*/

main{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 1em;
    background-color: silver;
}

main nav{
	position: relative;
	display: inline-block;
	padding-left: 1.5em;

}

nav h2{
	text-align: center;
}

main nav div{
	background-color: silver;
	width: 90%;
	height: 380px;
	 border: 2px solid gray;
  border-radius: 5px;
}

main nav div img{
	 max-width: 70%;
	 padding-left: 15%;
}

aside nav.botones input{

	position: relative;
    background-color: black;
    color: white;
    padding-left: 1em;
    padding: 0.5em;
    border: 1em;
    border-radius: 1em;
    width: 28%;

	  

}





article{
	background-color: silver;
	height: 100px;

}


article h2{
	    
    padding-left: 30%
}


article p{
	left: 30%;
    position: relative;
    top: 20px;

}


article p input.mail{
	    width: 30%;
    
    background-color: silver;
    border-bottom-color: black;
}


article  p input.Suscribirse{

	position: relative; 
	 width: 30%;
    border: 3em;
    border-radius: 1em;
    border-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color: black;
    border-left-color: black; 
    top: 10px;
}



footer{

	position: relative;
	width: 100%;
	height: 500px;
	background-color: orange;

}


footer h2.pago{


	/*left: 15%;
    position: relative;
    top: 20px;*/
}

footer div{

	clear: both;
	height: 500px;


}

		