*{
	margin: 0 auto;
}
body{
	background-color: rgb(239, 239, 239);
}
header{
	width: 100%;
}
header nav.menu{

}
header nav.menu ul{
	margin-top: 30px;
}
header nav.menu ul li{
	display: inline;
}
header nav.menu ul li a{
	color: white;
	text-decoration: none; 
	background-color: #3366AB;
	padding: 10px;
	border: 3px solid #254a7c;
	border-radius: 5px;
}
main{
	width: 100%;
	height: 1500px;
}
hr{
	margin-top:20px;
}
main div.img_principal{
	width: 90%;
	height: 290px;
	background-color: white;
	margin: 0 auto;
	border-radius: 5px;
}
main div.img_principal img{
	width:95%;
	height:80%;
	margin-left:2.5%;
	margin-top: 2.5%;
}
main h1{
	text-align: center;
	color: #3366AB;
}
main h2{
	margin-left: 20px
}
main div.imagenes{
	width: 70%;
	height: 380px;
	margin: 0 auto;
}
main div.contenido{
	position: relative;
	float: left;
	background-color: white;
	padding: 20px;
	padding-bottom: 40px;
	width: 20%;
	height: 300px;
	margin-left: 20px;
	border-radius: 5px;
}
main div.contenido1{
	margin-left: 110px;
}
main img{
	width: 100%;
	height: 100%;
}
main div.imagenes div.contenido a{
	color: white;
	text-decoration: none; 
	background-color: #3366AB;
	padding: 5px;
	border: 3px solid #254a7c;
	border-radius: 10px;
	margin-left: 10%;
}
main div.textos{
	width: 75%;
	height: 300px;
	margin-left: 25%;
}
main div.textos div.texto{
	position: relative;
	float: left;
	width: 28%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	top: 10px;
	margin-left: 10px;
}
main div.textos div.texto h2{
	text-align: center;
	background-color: #3366AB;
	color:white;
}
footer{
	clear: both;
	position: relative;
	width: 100%;
	height: 100px;
}
footer div{
	top: 10px;
	position: relative;
	float: left;
	width: 33%;
	height:100px;
	left: 10px;
}
footer div a{
	text-decoration: none;
	color: black;
}
p{
	color: rgb(102,102,102,1);
}
.margen{
	width: 90%;
	background-color: white;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px; 
}
table{
	border: 1px solid;
}
td{
	text-align: center;
	color: blue;
	border: 1px solid black;
	padding: 10px;
}
input{
	margin-top:  25px;

}
main div form p a{
	margin:250px; 
	color: white;
	text-decoration: none; 
	background-color: #3366AB;
	border: 3px solid #254a7c;
	border-radius: 5px;
}