
body{
	background-color: #D9D9D6;
}
header{
	position: fixed;
	background-color: #C3B7BC;
	height: 20%;
	width: 100%;
	z-index: 10;
	top: 0;
}
header div{
	position: relative;
	float: left;
	width: 20%;
	height: auto;
}
header div img{
	max-width: 100%;
	max-height: 100%;
	float: left;
}
header nav{
	position: relative;
	height: 100px;
}
header nav ul{
	position: relative;
    top: 30%;
    list-style: none;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
    z-index: 10;
}

header nav ul li{
	position: relative;
    display: inline-block;  
    font-size: 20px;
    padding-left: 20px;
    cursor: pointer;
}


header nav ul li ul{
	position: absolute;
	display: block;
	display: none;

}
header nav ul li ul li{
	position: relative;
	display: block;
}

header nav ul li:hover > ul{
	cursor: pointer;
	display: block;
}

header nav ul li a:hover{
	cursor: pointer;
}
main{
	position: relative;
	clear: both;
	width: 100%;
	height: 500px;
	top: 150px; 
}
main div.principal{
	position: relative;	
	float: left;
	width: 23%;	
	height: 450px;
	left: 10px;
	padding: 10px;
	background-color: #C8C9C7;
	margin:2px;
	border-radius: 10px;

}
main div h3{
	position: relative;
    float: left;
    width: 200px;
    /* height: 50px; */
    text-align: center;
    left: 50px;

}
main div img{
	position: relative;
	float: left;
	width: 100%;
	height: 300px;
	border-radius: 10px;
}
main div a{
	position: relative;
    float: left;
    width: 100px;
    height: 30px;
    background: #5f4028;
    color: white;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    margin: 20px;
    left: 70px;


}
main div.newsletter{
	clear: both;
	position: relative;
    width: 35%;
    height: 200px;
    left: 420px;
    margin-top: 30px;
    color: black;
    top: 30px;

}
main div.newsletter h2{
	position: relative;
	height: 100px;
	text-align: left;
}
main div.newsletter input{
	position: relative;
    height: 20px;
    text-align: left;
    bottom: 60px;
    width: 85%;
    background-color: #D9D9D6;
    border: 0; 
    border-bottom: 1px solid;

}
main div.newsletter a.newsletter{
	background-color: #D9D9D6;
	position: relative;
	width: 85%;
	height: 15px;
	color: black;
	text-align: center;
	border: 1px solid;
	border-radius: 3px;
	bottom: 70px;
	left: 0;
	    padding: 0px;
    margin: 0px;
    margin-top: 20px;
}
footer{
	position: relative;
    height: 100px;
    background-color: #2D2926;
    top: 300px;
    width: 100%;
}
footer div.pago{
	clear: both;
	position: relative;
	width: 40%;
	float: left;
	color: white;
	bottom: 170px;
	left: 300px;
}
footer div.pago ul.pago{
	position: relative;
    width: 200px;
    list-style: none;
    bottom: 10px;

}
footer div.pago ul.pago li a{
	/*background-color: #53565A;*/
	color: white;
	text-decoration: none;
}
footer div.pago ul.pago li span{
	clear: both;
	position: relative;
	width: 10%;
	margin: 0 5px;
}
footer div.envio{
	position: relative;
	width: 40%;
	float: left;
	color: white;
	bottom: 170px;
	left: 300px;
}
footer div.envio ul.envio{
	position: relative;
    width: 200px;
    list-style: none;
    bottom: 10px;
}
footer div.envio ul.envio li a{
	/*background-color: #53565A;*/
	color: white;
	text-decoration: none;
}
footer div.envio ul.envio li span{
	position: relative;
	width: 10%;
	margin: 0 5px;
}
footer div.legal{
	position: relative;
	height: 40px;
	background: grey;
	bottom: 0;
	top: 100px;
}
footer div.legal li{
	color: white;
    list-style: none;
    display: inline-block;
    position: relative;
    left: 400px;
    top: 20px;
}
footer div.legal li a{
	position: relative;
	width: 50%;
	text-align: center;
	padding: 0 10px;
	text-decoration: none;
	color: white;

}
footer div.cookie{
	position: fixed;
	z-index: 20;
	width: 100%;
	height: 50px;
	background-color: rgba(149, 148, 148, 0.5);
	color: black;
	bottom: 0px;
}
footer div.cookie p{
	position: relative;
	display: inline-block;
	text-align: center;
	left: 150px;
}
footer div.cookie span{
	position: relative;
	height: 10px;
	left: 150px;
}
@media (max-width: 950px){
	main div.principal{
		width: 45%;

	}
	footer{
		top: 800px;
	}
	footer div.pago{
		bottom: 650px;
	}
	footer div.envio{
		bottom: 650px;
	}
	footer div.newsletter{
		left: 320px;
	}
	

}
@media (max-width: 510px){
	main div.principal{
		width: 100%;

}
	footer div.pago{
		bottom: 1600px;
	}
	footer div.envio{
		bottom: 1600px;
	}
	footer{
		top: 1700px;
		max-width: 100%;
	}
	footer div.newsletter{
		width: 100%;
		left: 200px;
	}
}