body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin: 0 auto;
    background-image: url(../textura.jpg);
	padding: 20px;
    }
main {
    width: 90%;
    margin: 10px auto;
    background-image: url(../libreta-espiral.gif);
	background-position: left top;
	background-size: 100%;
	background-repeat: repeat;
    box-shadow: 10px 10px gray;
    padding: 20px;
	}
h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    }
section {margin-bottom: 50px;}
#header {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    }
#h1 {
    text-transform: uppercase;
    text-align: center;
    border-bottom-style: groove;
    border-bottom-color: coral;
    border-bottom-width: 20px;
    width: 90%;
    margin: 0 auto;
    background-color: khaki;
    padding-top: 10px;
    }
#indice {
	overflow: hidden;
    margin: 0 auto;
    width: 80%;
    background-color: khaki;
    padding: 10px 10px;
	text-align: center;
	}
#indice nav {
    width: 100%;
    margin: 0 auto;
	}
#indice span {
	background-color: saddlebrown;
    padding: 5px 34.5px;
    }
#indice span a {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: large;
	}
#cuadrogrande {
	width: 70%;
	margin: 0 auto;
	box-shadow: 10px 10px gray;
	background-color: khaki;
	border: solid 1px black;
	padding: 10px 20px;
	background-image: url(../chincheta-roja.png);
	background-position: right top;
	background-size: 64px 64px;
	background-repeat: no-repeat;
	}
.h2 {
	text-aling: left;
	border-bottom-style: groove;
    border-bottom-color: coral;
    border-bottom-width: 20px;
	font-variant: small-caps;
	}
.h2 span {color:darkblue;}
#cuadrogrande a {
	text-decoration: none;
	color: blue;
	}
#boton {
	background-color: red;
	padding: 5px 15px;
	margin: 10px;
	}
#boton a {
	color: white;
	text-decoration: none;
	}
footer {
	border-style: dotted;
	border-color: saddlebrown;
	background-color: khaki;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	}
footer a {
	color:blue;
	text-decoration: none;
	margin-bottom: 20px;
	}


.letraMuyGrande {font-size: 1.1em;}
.letraGrande {font-size: 1em;}
.LetraMediana {font-size: 0.9em;}
.letraPequena {font-size: 0.8em;}
.letraNegrita {font-weight: bold;}

.ajusteTextro {word-spacing: -0.1em; letter-spacing: -0.01em;}

.colorRojo {color: darkred;}
.colorVerde {color: darkgreen;}
.colorAzul {color: darkblue;}
.colorAmarillo {color: khaki;}

.fondoRojo {background-color: lightgoldenrodyellow; padding: 10px; border-left: 4px solid darkred;}
.fondoVerde {background-color: #cfc; padding: 10px; border-left: 4px solid darkgreen;}
.fondoAzul {background-color: lightblue; padding: 10px; border-left: 4px solid darkblue;}
.fondoAmarillo {background-color: palegoldenrod; padding: 10px; border-left: 4px solid rgba(181,160,16,1.00);}

#footer {
    width: 100%;
    overflow: hidden;
    text-align: justify;
    }
.cuadromarco {
    border: solid 0.5px grey;
    padding: 10px;
    text-align: justify;
    }

