@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 	}
.formulario {
	margin: 10px auto;
	width: 80%;
	background-color: lightgray;
	font-size: 1em;
	padding: 10px;
	}
.legend {
	color: black;
	font-weight: bold;
	}
.legend > sup {
	color: red;
	}
.campos {
	background-color: white;
	border: solid 1px gray;
	width: 100%;
	padding: 10px;
	}
input[type="submit"] {
	background-color: green;
	color: white;
	padding: 10px;
	font-size: large;
	}

