@charset "utf-8";
/* CSS Document */
body {
	background-color: lightgoldenrodyellow;
	margin: 5%;
	padding: 2px;
	box-shadow:2px 2px 2px;
}
h1{
	text-align: center;
	text-transform: uppercase;
	background-color: red;
	text-shadow: 1px 2px 3px grey;
	margin-left: 10px;
	margin-right: 10px;
				}
h2{
	text-align: center;
	border-style: dotted;
	border-left-style: none;
	border-right-style: none;
	text-shadow: 1px 2px 3px grey;
	margin-left: 25px;
	margin-right: 25px;
		}
h3{
	text-align: center;
	border-style: dashed;
	border-left-style: none;
	border-right-style: none;
	text-shadow: 1px 2px 3px grey;
	margin-left: 150px;
	margin-right: 150px;
	}
mark {
	border-style:solid;
	font-size: 40px;
	color:darkviolet;
	padding: 6px;
	}
hr {
	width: 200px;
	color: black;
	border: 1px solid;
}
p{
	border: 2px solid red;
	border-radius: 10px;
	padding: 20px;
	margin-left: 25px;
	margin-right: 25px;
}
abbr {
	border: 2px solid green;
	color:red;
}
b{
	color:darkblue;
}
strong{
	color:red ;
}
strong strong{
	color:red;
}
ins{
	 text-decoration: underline red;
}
em strong{
	color:darkblue;
}
em{
	color: red;
}
u{
	color: red;
	text-decoration: underline darkblue;
		}	
s{
	text-decoration: line-through red;
}		
sup{
	color:red;
}
del{
	text-decoration: line-through red
}
/*prueba por si fallara*/
span{
	text-align: center;
	border: 2px solid darkred;
	padding: 20px; background-color: lightyellow;
	border-radius: 16px;
	display: block;	
	box-shadow: 5px 5px 5px grey;
	margin: auto;
	width: 75%;
		}
q{
	quotes:'«' '»';
}	
cite{
 color:darkblue;
}
blockquote {
	text-indent: 50px;
	}
