@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
	border-sizing: border-box;
	}

ul {
	list-style: none;
	}
ul li a {
	text-decoration: none;
	color: white;
	}
main {
	width: 100%;
	margin: 10px auto;
	}
.letras {
	background-color: blue;
	position: relative;
	width: 100%;
	height: 100px;
	}
.letras > img {
	width: 200px;
	margin-top: 20px;
	margin-left: 50px;
	}
.pequeño {
	background-color: darkblue;
	position: absolute;
	top: 0;
	right: 30px;
	}
.pequeño ul li {
	display: inline-block;
	color: white;
	margin: 5px;
	padding: 5px;
	font-size: 0.8em;
	}
.grande {
	position: absolute;
	top: 50px;
	right: 30px;
	}
.grande ul li {
	display: inline-block;
	color: white;
	margin: 5px;
	padding: 5px;
	font-size: 1.1em;
	}
.foto {
	height: 300px;
	}
.foto > img {
	position: relative;
	width: 100%;
	border-bottom: solid 4px rgba(222,235,16,1.00);
	height: 300px;
	}
.anuncio {
	width: 25%;
	height: 200px;
	border-top: solid 4px rgba(222,235,16,1.00);
	position: absolute;
	right: 30px;
	top:150px;
	background-color: black;
	color: white;
	text-align: left;
	padding: 10px;
	opacity: 0.6;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	}
.anuncio p {
	width: 100%;
	}
.anuncio span {
	text-transform: uppercase;
	font-size: 20px;
	}
.anuncio a {
	color: white;
	text-decoration: none;
	background-color: black;
	opacity: 0.8;
	border: solid 1px white;
	padding: 5px;
	width: 30%;
	text-align: center;
	position: absolute; 
	top: 180px;
	}
.oferta {
	text-transform: uppercase;
	font-weight: xx-large;
	color: darkcyan;
	}
.contenido1 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	}
.contenido1 p {
	font-size: 1.2em;
	color: black;
	width: 100%;
	text-align: left;
	margin-left: 10px;
	}
.fotoscontenido1 {
	width: 30%;
	padding: 0px 10px;
	margin: 5px;
	}
.fotoscontenido1 > img {
	width: 100%;
	position: relative;
	}
.fotoscontenido1 > p {
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 3px black;
	position: relative;
	top: -40px;
	left: 10px;
	}
.fotoscontenido1 a {
	text-decoration: none;
	text-transform: uppercase;
	color: darkslategray;
	margin-left: 190px;
	}

.contenido2 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	}
.contenido2 > p {
	font-size: 1.2em;
	color: black;
	width: 100%;
	text-align: left;
	margin-left: 10px;
	}
.fotoscontenido2 {
	width: 22%;
	padding: 0px 10px;
	margin: 5px;
	}
.fotoscontenido2 > img {
	width: 100%;
	position: relative;
	}
.fotoscontenido2 > p {
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 3px black;
	position: relative;
	top: -40px;
	left: 10px;
		}
.fotoscontenido2 a {
	text-decoration: none;
	text-transform: uppercase;
	color: darkslategray;
	margin-left: 110px;
	}

.contenido3 {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	width: 100%;
	}
.contenido3 > p {
	font-size: 1.2em;
	color: black;
	width: 100%;
	text-align: left;
	margin-left: 10px;
	}
.fotoscontenido3 {
	width: 46%;
	padding: 0px 10px;
	margin: 5px;
	}
.fotoscontenido3 > img {
	width: 100%;
	position: relative;
	}
.fotoscontenido3 > p {
	color: white;
	text-transform: uppercase;
	text-shadow: 0px 3px black;
	position: relative;
	top: -40px;
	left: 10px;
	}
.fotoscontenido3 a {
	text-decoration: none;
	text-transform: uppercase;
	color: darkslategray;
	margin-left: 350px;
	}
.ver {
	position: absolute;
	right: 10px;
	}
.ver > a {
	text-transform: uppercase;
	text-decoration: none;	
	color: white;
	background-color: blue;
	padding: 10px;
	border-radius: 10px;
	/*position: relative;*/
	}
.footer {
	background-color: blue;
	color: white;
	text-align: center;
	}
.footer h1 {
	color: white;
	font-size: 1.5em;
	text-decoration-line: line-through;
	margin: 5px;
	width: 100%;
	}
.footer span {
	text-decoration-line: none;
	}
.ico {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	}
.ico > div {
	margin: 10px;
	width: 30%;
	}
.redes {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	}
.redes > div {
	margin: 10px;
	}
.legal {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	background-color: black;
	}
.legal > div {
	margin: 10px;
	padding: 10px;
	}
.legal a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	}

