/**{
	margin:0px;
	padding:0px;
}*/

/*body{
	background-image: 
}*/

header{
	position: sticky;
	top:0;
	height:100px; 
	background: green;
	z-index: 100;
	
}

header img{
	max-height: 100%;
	max-width: 100%;

}

nav.menu_principal{
	position: absolute;
	top: 0px;
	left:15%;
}

nav.menu_principal ul{
	position: relative;
	float:left;
	list-style: none;
	margin: 0px;
	padding: 0px;
}

nav.menu_principal ul li{
	position: relative;
	float:left;
	margin: 0px;
	padding: 0px;
	/*padding-right: 2em;*/

}

nav.menu_principal ul li a{
	text-decoration: none;
	display: block;
	color: white;
	font-size: 20px;
	line-height: 20px;
	padding: 0 10px;
	font-weight: bold;
}


nav.menu_principal ul li:hover{
	background-color: black;
}

nav.menu_principal ul ul {
	position: absolute;
	left:0;
	padding: 0;
	display:none;
}

nav.menu_principal ul ul li{
	float:none;
	width: 200px;
}

nav.menu_principal ul ul li a{
	line-height: 20px;
	padding: 10px 15px;
}
nav.menu_principal ul ul ul{
	top:0;
	left:60%;
}

nav.menu_principal ul li:hover > ul{
	display: block;
}


main{
	position: static;
	height: 800px;
	background: yellow;
	margin: 0 auto;
	overflow: hidden;
	
}

main nav.slider{
	position: relative;
	left:0;
	width: 400%;
	height: 50%;
	margin: 0;
	animation: 10s slider infinite;

}

main nav.slider img{
	width: 25%;
	float: left;
}

@keyframes slider {

}

input {
	text-decoration: none;
	background: none;
	border: none;
	outline: none;
}


/*
nav.maqueta{
	position: relative;
	width: 35%;
	height: 800px;
	left: 65%;
	background: blue;
}

div {
    position: relative;
    width: 15%;
    height: 100px;
    background-color: orange;
    float: left; 
    margin: 0.2em;
    display: inline-block;
}

.tamanio {
	width: 40%;
}
footer{
	clear: both;
	position: relative;
	background: pink;
	height: 80px;
}

article{
	height: 10000px;
}*/