*{
    margin: 0;
    padding: 0;
}

nav.menu{ 
    position: relative;
    top: 0px;
    /*position: static;*/
    width: 100%;
    height: 50px;
    /*background-color: red;*/
}

nav.menu ul{
    position: relative;
    float:left;
    list-style: none;
    /*quitamos los puntos de la lista y sublistas*/  
    margin: 0px;
    padding: 0px;
    left: 25px;
    
}
nav.menu ul li{
    position: relative;  
    float:left;
    /*a las LI para que se posicionen una detras de otra*/
    /*en este caso con 4 menus y muchos submenus, al no caber se ponen en 4 lineas*/
    margin: 0px;
    padding: 0px;
}

nav.menu ul li:hover{ 
    background-color: purple;
    /*para detectar al raton cuando se posiciona encima*/
}

nav.menu ul li a{
    text-decoration: none;
    display: block; 
    /*para que se comporte como un bloque, asi las A se comporten como bloque y no como linea*/
    color: white;
    /*color a las A*/
    font-size: 20px;
    line-height: 20px;  
    /*espacio entre ellos*/
    padding: 0 10px;   
    /*el primer numero es para el top y boton, el segundo es para right y left 
    ( aqui dice que de isq y der no me escriba nada en 10px)*/
    
    font-weight: bold;  
    /*para ponerlo en negrita*/
    
}
.menuboton{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
hr.hrmenu{
    /*position: absolute;
    width: 68%;
    top: 25px;
    margin-left: 14%;*/
    position: absolute;
    width: 96%;
    top: 35px;
    margin-left: 2%;
}
header{

}
header h2{
    margin-left: 100px;
    width: 70%;
    /* left: 30%; */
    text-align: center;
    color: black;
    background-color: lightblue;
    border-radius: 125px 125px 125px 125px;
    -moz-border-radius: 125px 125px 125px 125px;
    border: 9px solid black;

}
header table{
    width: 70%;
    border: 2px solid black;
    margin-left: 110px;
    margin-top: 10px;
}
th, td {
    width: 10%;
    text-align: center;
    vertical-align: top;
    border: 1px solid black;
}
th{
    color: black;
    background-color: yellow;
}
td{
    color: black;
    background-color: lightblue;
}

/*xxxxxxxxxxxxxxxxxxx*/
main{
    width: 90%;
    height: 500px;
    /*background-color: red;*/
    position: relative;
    left: 5%;
}
main div{
   /* margin-left: 220px;
    width: 50%;
    height: 400px;
    background-color: gray;
    position: relative;
     margin: 60px 100px; 
    margin-top: 20px;
    padding-top: 10px;
    border: 2px solid gray;
    border-radius: 5px;*/
    margin-left: 220px;
    width: 50%;
    height: 400px;
    background-color: lightgray;
    position: relative;
    /* margin: 60px 100px; */
    margin-top: 20px;
    padding-top: 10px;
    border: 2px solid gray;
    border-radius: 35px;
    
}
main div h2{
    text-align: center;
}
input[type=text] {
    border: 2px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 30px;
}
input[type=email] {
    border: 2px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 30px;
}
input[type=number] {
    border: 2px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 30px;
}
textarea{
    border: 2px solid gray;
    border-radius: 5px;
    width: 500px;
    height: 100px;
}
input[type=submit] {
    background-color: lightgray;
    border: 2px solid gray;
    /* color: white; */
    padding: 8px 40px;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
    /*text-decoration: none;*/
    /*padding: 10px;*/
    /*font-weight: 600;*/
}
.aceptarfor{
    margin-top: 15px;
}
.botonenviar{
    margin-top: 35px;
}
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
footer{
	position: relative;
	width: 100%;
	height: 200px;
	/*background-color: purple;*/
}
footer div{
    position: relative;
    float: left;
    /* left: 20%; */
    /* display: inline-block; */
    top: 2em;
    /* margin-left: 10em; */
}
footer div.footerdiv1{
    /* left: 20%; */
    /* display: inline-block; */
    /* top: 2em; */
    margin-left: 10em;
    /*background-color: yellow;*/
}
footer div.footerdiv2{
	 left: 30%; 
    /* display: inline-block; */
    /*top: 2em;*/
    /*margin-left: 10em;*/
    /*background-color: pink;*/
}
footer div.footerdiv3{
	 left: 50%; 
    /* display: inline-block; */
    /*top: 2em;*/
    /*margin-left: 10em;*/
    /*background-color: yellow;*/
}
footer div ul{
	list-style: none;
}
footer div ul li{
	margin-top: 6px;
}
footer div ul li a{
	text-decoration: none;
}

