@charset "utf-8";
/* CSS Document */
	body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin: auto;
    background-color: aquamarine;
    }
	main {
    width: 95%;
    background-color: azure;
    padding: 10px;
    margin:5px auto;
    }
	header {
	width: 100%;
	margin: 0 auto;
    padding: 5px;
    text-align: center;
	}		
	h1, h2, h3, h4, h5, h6 {
   	font-family: Arial, Helvetica, sans-serif;
    }
	hr {
    border: 0.5px solid grey; 
    }
	#cuadrologo {
	width: 100%;
	height: auto;
	margin-top: 20px;
	overflow: hidden;
    text-align: left;
	}
	#logo {
	width: 100%;
	height: auto;
	float: left;
	font-weight: bold;
	font-size: 25px;
	}
	#imglogo {
	width: 100px;
	}
	#enlacelogo {
	text-decoration: none; 
	}
	#navegacion {
	text-align: center;
    width: 100%;
	margin:0 auto;
	}
	#navegacion span a {
	color: rgb(30, 16, 153);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(140, 216, 240);
    font-size:large;
    border-radius: 5px;
    }
	#indice {
    text-align: left;
    font-size: larger;
    }
	header ol { 
    counter-reset: item;
    }
	header ol li  { display: block; }
	header ol li:before  {
	content: counter(item) ".";
    counter-increment: item;
    color: blue;
	margin-left: 0px;
	}
	.nota {    
	background-color: #FFFFCC;
    border-left: 6px solid #ffeb3b;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;}
	code {
   color: red;
   background-color: #f1f1f1;
   padding-left: 4px;
   padding-right: 4px;
   font-size: 130%;
   }
	.etiquetasHTML {
   		background-color: #f1f1f1;
   border: 1px solid #cccccc;
   font-size: 24px;
   padding: 16px;
   }
	code span {
   		color: mediumblue;
   	}
	code span span {
   		color: brown;
   }
	code span span span {
   		color:crimson;
   		}
	.ejemplo {
   		background-color: #f1f1f1;
   		padding: 8px 16 px;
   		margin: 20px 0;
  		box-shadow: 0 2px 4px 0 rgba (0, 0, 0, 16),0 2px 10px 0 rgba(0, 0, 0, 16);
   		}
	.code {
		margin-top: 16px;
  	 	margin-bottom: 16 px;
  	 	background-color:#FFFFFF;
   		padding: 8px 12px;
   		border-left: 4px solid chartreuse;
   		}
	#divPadre {
		width:99%;
		border:1px solid grey;
		padding:3px;
		margin:0;
		background-color:#D4D4CF;
		}
	#divhead {
		width:90%;
		border:1px solid grey;
		padding:3px;margin:20px;
		}
	#divtitle {
		width:90%;
		border:1px solid grey;
		padding:5px;
		margin:20px;
		}
	#divbody {
		width:90%;
		border:1px solid grey;
		padding:3px;
		margin:20px;
		background-color:#ddd;	
		}
	#body1 {
		width:90%;
		border:1px solid grey;
		padding:3px;
		margin:20px;
		background-color:#fff;
		}
	#h1 {
		width:90%;
		border:1px solid grey;
		padding:5px;
		margin:20px;
		}
	#p {width:90%;border:1px solid grey;padding:5px;margin:20px;}
	#p2 {width:90%;border:1px solid grey;padding:5px;margin:20px;}
            
