



body{
	margin: 0;
	padding: 0;
	background-color: gray;
}

header h1{
	text-align: center;

}

		
   

header div.contenedor1{
	position: relative;
	background-color: silver;
	padding: 1em;
	border-radius: 1em;
	height: 450px;
	/*height:auto;*/
	    padding-left: 5em;
}

@font-face{
	font-family: 'RussoOne-Regular';
	src:url('../fuente/RussoOne-Regular.ttf');
}

header label,p,a{
	font-family: 'RussoOne-Regular';

}

header a.boton_pagina2{
	border: 1px solid gray; 
	padding: 5px; 
	background-color: gray; 
	text-decoration: none; 
	border-radius: 50px; 
	color: black;
	position: relative;
    top: 40px;
    right: 40%;
}



div.cookie{
	position: fixed;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: rgba(100,100,100,0.6);

}


span.span_acepto{
	background-color: green;
	border-radius: 5px;
}


/*HOJA CONFIRMACION*/

body div.adios_clase{
	    background-color: silver;
    height: 500px;
}

a.boton_pagina2{

	border-radius: 10px;
    text-decoration: none;
    background-color: silver;
    color: black;



}




