
*
{
	margin:0;
	padding:0;
}

header{
	position: sticky;
	height: 100px;
	width: 100%;
	background-color: #C3B7BC;
	top: 0px;
	z-index: 100;
}

header img{
	max-width: 100%;
	max-height: 95%;
	float: left;
}

header div{
	position:relative;
	height: 90%;
    width: 80%;
    left: 20%;
	

}
ul.menu_principal{
	position: relative;
	/*text-align: center;*/
	top: 25px;
}

ul.menu_principal li{
	position: relative;
	list-style: none;
	display: inline-block;	
	padding: 15px;
	font-size: 22px;
	margin-left: 5px;	
}

ul.submenu{
	position: absolute;
	display:none;
	
	
}

/*ul.submenu >li{
	position: relative;
	list-style: none;
	display: none;
}*/
ul li:hover >ul {
	display:block;
	/*position: absolute;
	left: 0px;*/
}


main{
	position: relative;
	width: 100%;
	height: 620px;
	background-color: #D9D9D6;
}

main div{
	position: relative;
	float: left;
	width: 20%;
	height: 450px;
	margin-left: 4%;
	background-color: silver;
	top: 20px;
	border-radius: 10px;

}

main div img{
	position: relative;
	float: left;
	width: 80%;
	height: 300px;
	margin-left: 10%;
	border-radius: 10px;
	top: 40px;
}
main div a{
	position:absolute;
	text-decoration: none;
	background-color: #5F4028;	
	bottom: 10px;   
	left: 15%;
	font-size: 15px;	
	text-align: center;
	color: white;	
	border-radius: 10px;
	height: 20px;
	width: 150px;
	padding: 3px;
	line-height: 20px;	
}

main div h2{
	position: relative;
	text-align: center;	
	top: 20px;
}
main h2{
	position:relative;
	top: 50px;
	text-align: center;	
}

main h4{
	position: relative;
	top: 85px;
	left:31%;
	width: 38%;
	border-bottom: 2px solid black;
}

main button{
	position: relative;
	top: 90px;
	text-align: center;
	left: 31%;
	width: 38%;
	border-radius: 5px;
	border-color: black;
}

footer{
	position:relative;
	width: 100%;
	height: 150px;
	background-color:#2D2926;
}

footer ul{
	position:absolute;	
	top: 20%;		
	color:white;
	list-style: none;
	text-decoration: none;
}

footer ul li a{
	color: white;
}

footer p a{
	text-decoration: none;
	color: white;
}

footer div{
	position: relative;
	width: 100%;
	height: 40px;
	top: 75%;
	background-color: #53565A;
}

footer div p{
	position: relative;
	float: left;	
	margin:0.5em;
	top: 0.5em;
	left: 33%;
	color: white;
}

div.cookie{
	position: fixed;
	width: 100%;
	height: 150px;
	bottom: 0px;
	background-color: rgba(149,148,148,0.5);
}

div.cookie button{
	position: absolute;
	left: 99%;
}

div.cookie p{
	position: absolute;
	top: 85%;
}