
*{
	padding: 0;
	margin: 0;
}

header{
	height: 100px;
	background-color: green;
}

main div.imagen_lenguajes{
	position: relative;
	float: left;
	width: 30%;
	height: 200px;
	background-color: orange;
}

ul.menu{
	list-style: none;
}
ul.menu li{
	position: relative;
	float: left;

}