*{
	margin:0;
	padding:0;
}

@font-face{
	font-family:"Lilita";
	src=url('../letras/LilitaOne-Regular.ttf');
}
body{
font-family: 'Lilita One', cursive;
font-family: 'Raleway', sans-serif;
}

h1{
	font-family:Lilita, cursive;
}