*{
  margin: 0px;
  padding: 0px;
}

header{
	position: sticky;
	top: 0px;
	width: 100%;
	height:80px;
	background-color: green;
	z-index: 12;

}

img{
	max-width: 10%;
	max-height:70%;
}

nav{
	position: relative;
	width: 100%;
	height: 300px;
	background-color:red;

}

main{
	position: relative;
	width: 70%;
	left: 30%
	background-color: blue;

}

aside{
     position: relative;
     width: 30%;
     left: 70%;
     height: 300px;
     background-color: yellow;
}

footer{
	position: relative;
	width: 100%;
	height: 150px;
	background-color: black;

}

.cookie{
	position: fixed;
	width: 100%;
	height: 10%;
	bottom: 0px;
	background-color: gray;

}

p,h1{
	font-size: 100px;
	background-color: white;
}

ul{
	list-style: none;
}
