*{
	padding:0px;
	margin:0px;
}

header{
	position:absolute;
     top:0px;

		background-color:#C387BC;

        height:100px; 
        width:100%;
      
}


header img {

	max-height:100%;
	max-width: 100%;

    position:absolute;
top:0px;
left:2%;

}
nav.menu{
position:absolute;
top:0px;
left:60%;
width:60%;


}


nav.menu ul{
   position:relative;
  float:left;
  margin:0 auto;
padding-top: 2em;
text-align:center;
list-style: none;
display:inline-block;

}



nav.menu ul li{
   position:relative;
   float:left;
   margin:0px;
   padding:0px;

}

nav.menu ul  li a{
   text-decoration:none;
   display:block;
   color:black;
   font-size: 20px;
   line-height:20px;
   font-weight:bold;
   padding:0 10px;
}

nav.menu ul li:hover {
   background-color: pink;


}


nav.menu ul ul {

    z-index: 25px
     padding: 0;
     left:0;
     position:absolute;
}



nav.menu ul ul li{
	float:none;
	width:100px;
}

nav.menu ul ul li a{
    line-height: 20px;
    padding:10px 15px;


}

img.secciones{

  max-height:100%;
  max-width:100%;
}
div.secciones{

	position:relative;
    float:left;
    width:25%;
    height:500px;
    top:150px;
    background-color: #5F4028;


    }

  input[type='button']{
  text-decoration: none;
  background-color:#C387BC;
  border-radius: 5px;
  height: 80px;
  color: black;
  position: absolute;
  top:500px;
  width:150px;
  left:25%;

 
}

div.Newsletter{
 position:relative;
 float:left;
 top:300px;	
  margin:0 auto;
  height:100px;
  width: 100%;

}

h2.Newsletter{

	text-align:center;

}

input[type='submit']{
  text-decoration: none;
  background-color:#C387BC;
  border-radius: 5px;
  height: 80px;
  color: black;
  position:relative;
  float:left;
  top:80px;
  width:150px;
  left:40%;
  margin: 0 auto;

 
}




