*{
	margin: 0;
	padding: 0;
}
header ul{
	list-style: none;
}

header ul li.home{
	position: relative;
	float: left;
}

header ul li.html{
	position: static;
	float: left;
}

header ul li.css{
	position: static;
	float: left;

}

header ul li.js{
	position: relative;

}

aside img.hmtl p button{
	position: static;
	float:left;
}

main img{
	max-width:75%;
	max-height:75%;
}
aside img.html{
	position: static;
	float: left;

}

aside img.css{
	position: relative;
	float: left;
}


aside img.js{
	position: relative;
}

aside img p{
	position: static;
	float: left;
}

div.contenedor_izq{
	position: static;
	float: left;
	background-color: white;
	border-radius: 15px;
	text-align: justify;

}
div.contenedor_der{
	position: relative;
	margin: 15px;
	float: left;
	text-align: right;
	background-color: white;
	border-radius: 15px;
}

footer h6 p{
	text-align: left;
}
footer{
	bottom: 5px;
}