*{
	margin: 0;
	padding: 0;
}

header{
	position: static;
	width: 100%;
	height: 100px;
	background-color: red;

}

main{
	position: relative;
	width: 70%;
	height: 300px;
	background-color: green;
	float: left;

}

aside{
	position: relative;
	width: 30%;
	left:70%;
	height: 300px;
	background-color: blue;
}
aside p{
	position: absolute;
	top: 0px;
}

footer{
	position: relative;
	width: 100%;
	height: 100px;
	background-color: black;
}

@media (max-width: 950px){
	main {
		width: 60%;
		margin-left: 5%;
	}
	aside{
		left: 65%;
	}

}

@media (max-width: 780px){
	header{
		height: 400px;
	}

	main{
		margin-left: 0;
		width: 100%;
		float:none;
	}
	aside{
		display: none;
	}
	footer{
		/*clear: both;*/
	}
}