@charset "utf-8";
/* CSS Document */
h2 {border-bottom:2px solid red;}
span.spanNegrita {font-weight: bold;}

/* Estilo de bordes */
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

/* Ancho del Borde */
p.one {
  border-style: solid;
  border-width: 5px;
}

p.two {
  border-style: solid;
  border-width: medium;
}

p.three {
  border-style: dotted;
  border-width: 2px;
}

p.four {
  border-style: dotted;
  border-width: thick;
}

p.five {
  border-style: double;
  border-width: 15px;
}

p.six {
  border-style: double;
  border-width: thick;
}

p.seven {
  border-style: solid;
  border-width: 2px 10px 4px 20px;
}

p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
} 

p.three {
  border-style: solid;
  border-color: red green blue yellow;
} 

/* Color del Borde */
p.one {
  border-style: solid;
  border-color: red;
}

p.two {
  border-style: solid;
  border-color: green;
} 

p.three {
  border-style: solid;
  border-color: red green blue yellow;
} 
/*Bordes lados*/
p.lado {
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-left-style: solid;
}
/*Bordes completo*/
p.completo {
  border: 5px solid red;
}
/*Bordes lados*/
p.lados {
  border-left: 6px solid red;
  border-right: 6px solid red;	
  background-color: lightgrey;
}
/*Bordes Inferior*/
p.inferior {
  border-bottom: 6px solid red;
  background-color: lightgrey;
}
/*Borde Redondeados*/
p.normal {
  border: 2px solid red;
}

p.round1 {
  border: 2px solid red;
  border-radius: 5px;
}

p.round2 {
  border: 2px solid red;
  border-radius: 8px;
}

p.round3 {
  border: 2px solid red;
  border-radius: 12px;
}

 body {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 80%;
        margin: 0 auto;
        }
        
 h1,h2,h3,h4,h5,h6 {font-family: Arial, Helvetica, sans-serif;
       }
 table, th, td {
            border: 1px solid black;
        }   
        /*div {
            /*background-color:#f1f1f1;*/
            /*border: 1px solid #cccccc;*/
            /*margin: 20px;*/
            /*padding: 20px;*/
        
 .nota{
            background-color:#ffffcc;
            border-left: 6px solid #ffeb3b;
            margin-top: 10px;
            padding-bottom: 10%;
            margin-left: 5px;
            margin-right:5px;
           }     
 hr {
            border: 1px solid #eee;
            
        }         
code {
            color: crimson;
            background-color: #bebbbb;
            padding-left: 4px;
            padding-right: 4px;
            font-size: 110%;
        }        
.etiquetasHTML{
            background-color: #f1f1f1;
            border: 1px solid #cccccc;
            font-size: 24px;
            padding: 16px;
        }            
code span {
            color: mediumblue;
        }                 
code span span {
            color:brown;
        }  
code span span span {
            color: crimson;
        }
.code {
            margin-top: 16px;
            margin-bottom: 16px;
            background-color: #ffffff;
            padding: 8px 12px;
            border-left: 4px solid #4caf50;
        }
.ejemplo {
            background-color: #f1f1f1;
            padding: 8px 16px;
            margin: 20px 0;
            box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
        }
a:link {
  color: green; 
  background-color: transparent; 
  text-decoration: none;
  padding: 5px 10px 	
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
footer
{
	display: block;
    margin-top: 0px;
    width:100%;
    height:60px;
    background-color:black;
	padding-right: 30%;
	padding-bottom: 30px;
}

#divPadre {
	width:99%;
	border:1px solid grey;
	padding:3px;
	margin:0;
	background-color:#ddd;
}    

#divHead{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
}
#divTitle{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divMeta{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divBody{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
	background-color:#ddd;
} 
#divBodyHijo{
	width:90%;
	border:1px solid grey;
	padding:3px;
	margin:20px;
	background-color:#ddd;
}
#divP{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divH1{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}
#divP2{
	width:90%;
	border:1px solid grey;
	padding:5px;
	margin:20px;
}