
header{
	position: relative;
	background: blue;
	height: 100px;
	/*width: 100%;*/
	top:400px;
}
section{
	position: static;
	background: green;
	height: 100px;	
}
article{
	position: static;
	background: orange;
	height: 100px;
}
/*nav{
	position: relative;
	top: 100px;
	background: green;
	height: 100px;
}

div{
	position: static;
	width: 20%;
	top:0px;
	left:10%;
	height: 50px;
	background: blue;
}

main{
	height: 1000px;
	background: orange;
}*/