@charset "utf-8";
/* CSS Document */

	body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    margin: auto;
	}
h2 {
	border-bottom: 2px solid red;
	}
.spannegrita {font-weight: bold;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.solid {border-style: solid;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.none {border-style: none;}
p.hidden {border-style: hidden;}
p.mix {border-style: dotted dashed solid double;}

p.one {
  border-style: solid;
  border-width: 5px;
}
p.two {
  border-style: solid;
  border-width: medium;
}
p.three {
  border-style: dotted;
  border-width: 2px;
}
p.four {
  border-style: dotted;
  border-width: thick;
}
p.five {
  border-style: double; border-width: 15px;}
p.six {
  border-style: double;
  border-width: thick;
}
p.seven {
  border-style: solid;
  border-width: 2px 10px 4px 20px;
}

p.a {
  border-style: solid;
  border-color: red;
}
p.b {
  border-style: solid;
  border-color: green;
}
p.c {
  border-style: solid;
  border-color: red green blue yellow;
}

p.normal {
  border: 2px solid red;
}
p.round1 {
  border: 2px solid red;
  border-radius: 5px;
}
p.round2 {
  border: 2px solid red;
  border-radius: 8px;
}
p.round3 {
  border: 2px solid red;
  border-radius: 12px;}



         
