@charset "utf-8";
/* CSS Document */

*{box-sizing: border-box content-box;}

/*------Estilo1--------*/
#menu1 { 
	width: 80%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	}
#menu1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: antiquewhite;
	}
#menu1 ul li {
	border: solid 1px red;
	display: inline-block;/*lo ponemos así para que se comporten como un bloque y de margen arriba y abajo*/
	}
#menu1 ul li a {
	text-decoration: none;
	border: solid 1px green;
	color: green;
	padding: 10px;
	width: 100px;
	}
#menu1 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}

/*------Estilo2--------*/
#menu2 { 
	width: 80%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	overflow: hidden;
	height: auto;
	}
#menu2 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;*/
	background-color: antiquewhite;
	position: relative;
	left: 25%;
	float: left;
	}
#menu2 ul li {
	float: left;
	border: solid 1px red;
	width: 100px;
	text-align: center;
	position: relative;
	right: 0%;
	}
#menu2 ul li a {
	text-decoration: none;
	border: solid 1px green;
	color: green;
	padding: 10px;
	width: 100px;
	}
#menu2 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}