@charset "utf-8";
/* CSS Document */

	*{
	box-sizing: border-box;
	font-family: Baskerville, Palatino Linotype, Palatino, Century Schoolbook L, Times New Roman, serif;
	font-size: 1em;
	}

/*------Estilo1--------*/
#menu1 { 
	width: 80%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	position: sticky;
	top: 0;
	z-index: 1;
	}
#menu1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: antiquewhite;
	}
#menu1 ul li {
	border: solid 1px red;
	display: inline-block;/*lo ponemos así para que se comporten como un bloque y de margen arriba y abajo*/
	}
#menu1 ul li a {
	text-decoration: none;
	border: solid 1px green;
	color: green;
	padding: 10px;
	width: 100px;
	}
#menu1 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}

/*------Estilo2--------*/
#menu2 { 
	width: 80%;
	margin: auto;
	border: solid 1px black;
	overflow: hidden;
	height: auto;
	}
#menu2 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: antiquewhite;
	position: relative;
	left: 25%;
	float: left;
	}
#menu2 ul li {
	float: left;
	width: auto;
	/*position: relative;LO PONEMOS PORQUE LE SALE DE LOS PELENDREQUES PERO NO HACE NADA
	right: 0%;*/
	padding: 10px;
	}
#menu2 ul li a {
	text-decoration: none;
	color: green;
	padding: 20px;
	width: auto;
	background-color: lightblue;
	border: solid 1px blue;
	}
#menu2 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}

/*------Estilo3--------*/
#menu3 { 
	width: 80%;
	margin: auto;
	border: solid 1px black;
	height: auto;
	padding: 10px;
	}
#menu3 ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	background-color: antiquewhite;
	text-align: center;
	}
#menu3 ul li {
	display: inline;
	/*width: 100px; al poner display el ancho no funciona y se ajusta él solo al texto*/
	}
#menu3 ul li a {
	text-decoration: none;
	display: inline;
	padding: 10px 15px;
	}
.rojo {
	background-color: darkred;
	color: white;
	}
.rojo:hover {opacity: 0.8;}
.verde {
	background-color: darkgreen;
	color: white;
	}
.verde:hover {opacity: 0.8;}
.azul {
	background-color: darkblue;
	color: white;
	}
.azul:hover {opacity: 0.8;}
.naranja {
	background-color: darkorange;
	color: white;
	}
.naranja:hover {opacity: 0.8;}
.violeta {
	background-color: darkviolet;
	color: white;
	}
.violeta:hover {opacity: 0.8;}


/*------Estilo4--------*/
#menu4 { 
	width: 80%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	}
#menu4 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: antiquewhite;
	}
#menu4 ul li {
padding: 10px;
	border: solid 1px black;
	}
#menu4 ul li a {	
	display:block;
	text-decoration: none;
	border: solid 1px green;
	color: green;
	width: auto;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	}
#menu4 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}

/*------Estilo5--------*/
#padre {
	overflow: hidden;
	width: 80%;
	margin: auto;
	border: solid 1px black;
	}
#hijo1 {
	float: left; 
	width: 33.33%;
	height: auto;
	background-color: lightgray;
	border: solid 1px black;
	overflow: hidden;
	}
#hijo2 {
	float: right; 
	width: 33.33%;
	height: auto;
	background-color: lightgray;
	border: solid 1px black;
	overflow: hidden;
	}
#hijo3 {
	margin: auto;
	width: 33.33%;
	height: auto;
	background-color: lightgray;
	border: solid 1px black;
	overflow: hidden;
	}
.menu4 { 
	width: 90%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	overflow: hidden;
	background-color: aquamarine;
	}
.menu4 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: antiquewhite;
	}
#menu4 ul li {
	padding: 10px;
	border: solid 1px black;
	}
.menu4 ul li a {	
	display:block;
	text-decoration: none;
	border: solid 1px green;
	color: green;
	width: auto;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	}
.menu4 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}
.iconos {
	width: 25px;
	height: 25px;
	vertical-align: -0.5em;
	margin: 4px;
	}
#menu5 { 
	width: 90%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	overflow: hidden;
	background-color: aquamarine;
	}
#menu5 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: left;
	background-color: antiquewhite;
	}
#menu5 ul li {
	padding: 10px;
	border: solid 1px black;
	}
#menu5 ul li a {	
	display:block;
	text-decoration: none;
	border: solid 1px green;
	color: green;
	width: auto;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	}
#menu5 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}
#menu5der { 
	width: 90%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	overflow: hidden;
	background-color: aquamarine;
	}
#menu5der ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: right;
	background-color: antiquewhite;
	}
#menu5der ul li {
	padding: 10px;
	border: solid 1px black;
	}
#menu5der ul li a {	
	display:block;
	text-decoration: none;
	border: solid 1px green;
	color: green;
	width: auto;
	padding: 5px;
	background-color: lightgoldenrodyellow;
	}
#menu5der ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: green;
	}


/*------Estilo6--------*/
#menu6 { 
	width: 80%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	}
#menu6 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	}
#menu6 ul li {
	display: inline-block;/*lo ponemos así para que se comporten como un bloque y de margen arriba y abajo*/
	}
#menu6 ul li {
	background-color: lightgrey;
	}
#menu6 ul li a {
	text-decoration: none;
	width: auto;
	}
#menu6 ul li a:hover {
	opacity: 0.5;
	}


/*------Estilo7--------*/
#menu7 { 
	width:auto;
	border: solid 1px black;
	position: fixed;
	top:10%;
	right:10px;
	text-align: right;
	}
#menu7 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	}
#menu7 ul li {
	background-color: lightgrey;
	margin: 5px;
	}
#menu7 ul li a {
	text-decoration: none;
	width: auto;
	}
#menu7 ul li a:hover {
	opacity: 0.5;
	}
.barra {
	width: 30px;
	height: 30px;
	}

/*------Estilo8--------*/
#menu8 { 
	width:auto;
	border: solid 1px black;
	padding: 10px;
	}
#menu8 ul {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	/*text-align: center;*/
	overflow: hidden;
	background-color: #666666;
	}
#menu8 ul li {
	float: left;
	border: white 1px dotted;
	}
#menu8 ul li a {
	text-decoration: none;
	width: auto;
	color: white;
	display: block;
	padding: 14px 16px;
	}
#menu8 ul li a:hover {
	background-color: red;
	}
#menu8 ul li ul {
	display: none;/*los oculta hasta que pasamos el ratón por encima*/
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	position: absolute;/*queda por encima del div padre, no dentro*/
	z-index: 1;
	}
#menu8 ul li:hover ul { /*al pasar el ratón por los li del padre salen los ul hijos*/
	display: block;
	}
#menu8 ul li ul li{
	float: none; /*vienen flotando desde #menu8 ul li*/
	}
#menu8 ul li ul li a {
	text-decoration: none;
	color: black;
	text-align: left;
	}
#menu8 ul li ul li a:hover {
	text-decoration: none;
	color: white;
	background-color: blue;
	}

/*------Estilo9--------*/
/*MENU 9*/

#menu9 {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px;
	
}
#menu9 ul{
	list-style-type: none; /*quitar puntos lista*/
	margin: 0;
	padding: 0;
	background-color: #333333;
	/*overflow: hidden; /*para que flote*/
	/*text-align:left;*/
	width: 200px;
	position: absolute;
}
#menu9 ul li{
	border-right: 1px solid #bbb;
	float: none; /*solo menu horizontal, si fuera menu vertical si queremos que flote*/
	position: relative; /* se desplega */
}
#menu9 ul li a{
	color: white;
	display: block;
	text-align: left;
	padding: 5px;
	text-decoration: none;
	font-size: 20px;
}
#menu9 ul li a:hover{
	background-color: red;
}
#menu9 ul li ul{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgb(0,0,0,2);
	z-index: 1;
	top: 0;
	right: -150px; /* para desplazar el submenu a la derecha x ejemplo, tiene que llevar px o % */
}
#menu9 ul li:hover > ul{ /* con el signo ">" vale para decirle que todos los hijos hagan esto*/
	display: block;
}
#menu9 ul li ul li{
	position: relative;
}
#menu9 ul li ul li a {
	color: black;
	text-align: right;
}

#menu9 ul li ul li a:hover {
	background-color: dodgerblue;
	color:white;
}

/*menu 10*/
#menu10 {
	width: 80%;
	margin: 0 auto;
	border: 1px solid black;
	padding: 10px;
	
}
h2:after {
    content: ' \26C5'; /* para hacer dibujitos al lado de texto.*/
}
#menu10 ul{
	list-style: none; /*elimina punto*/
	padding: 0; /*elimina anchos*/
	margin: 0; /*margen fuera*/
	background-color: #333333;
}
#menu10 ul li{
	display: block;
	border: solid 1px #fff; /*borde menu 1*/
	width: 150px;
	position: relative;
}
#menu10 ul li a{
	text-decoration: none;
	padding: 14px 16px;
	color: white;
	text-align: left;
	display: block;
	}
#menu10 ul li a:hover{
	background-color: red;
	}
#menu10 ul li ul{
	display: none; /*este esta oculto para que no se muestre el menu*/
	position: absolute;
	background-color: #f9f9ff9;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	left: 150px;
	top: 0; /*con esta propiedad subes el submenu arriba del todo*/
}
#menu10 ul li:hover > ul{ /*con > ul haces que se desplege todos los submenus*/ 
	display: block;
}
/*a partir de aqui sobra, solo es por si quieres cambiar los menus de color */
#menu10 ul li ul li{
	display: block;
	position: relative;
 }
#menu10 ul li ul li a{
	color: black;
	text-align: left;
	}
#menu10 ul li ul li a:hover{
	background-color: yellow;
}
/*menu 11*/

#menu11 {
	width: 80%;
	margin: 0 auto;
	border: 1px solid grey;
	padding: 10px;
	
}
#menu11 ul{
	list-style: none; /*elimina punto*/
	padding: 0; /*elimina anchos*/
	margin: 0; /*margen fuera*/
	
	/*overflow: hidden;*/
}
#menu11 ul li{
	/*display: block;*/
	float: left;
	width: 150px;
	text-align: left;
	background-color: #333333;
}
#menu11 ul li a{
	text-decoration: none;
	padding: 14px 16px;
	color: white;
	text-align: center;
	display: block;
	}
#menu11 ul li a:hover{
	background-color: red;
	}
#menu11 ul li ul{
	display: none; /*este esta oculto para que no se muestre el menu*/
	
}
#menu11 ul li:hover > ul{  /*con > ul haces que se desplege todos los submenus*/ 
	display: block;
}
/*a partir de aqui sobra, solo es por si quieres cambiar los menus de color */
#menu11 ul li ul li{
	position: relative;
}
#menu11 ul li ul li ul{
	position: absolute;
	top:0;
	left: 150px;
	
}
#menu11 ul li ul li a{
	color: white;
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
#menu11 ul li ul li a:hover{
	background-color: red;
}