@charset "utf-8";
/* CSS Document */

#menu1 { 
	width: 80%;
	margin: auto;
	padding: 10px;
	border: solid 1px black;
	}
#menu1 ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
	background-color: antiquewhite;
	}
#menu1 ul li {
	border: solid 1px red;
	display: inline-block;/*lo ponemos así para que se comporten como un bloque y nos de margen arriba y abajo*/
	}
#menu1 ul li a {
	text-decoration: none;
	/*border: solid 1px green;*/
	color: green;
	padding: 10px;
	width: 100px;
	}
#menu1 ul li a:hover {
	text-decoration: underline;
	color: blue;
	background-color: ghostwhite;
	}