
body{
		padding: 0;
		margin: 0;
}

header{
	position: sticky;
	background-color: yellow;
	top: 0px;
	height: 500px;
	/*top:100px;*/
	/*top: 50px;*/
	z-index: 998;

	display: flex;
	/*flex-direction: column;*/
	justify-content: flex-start;
	align-items:center;

}

div.uno{
	background-color: red;
	width: 200px;
	height: 100px;
}

div.dos{
	background-color: blue;
	width: 200px;
	height: 100px;
}

div.tres{
	background-color: black;
	width: 200px;
	height: 100px;
}

/*
main{
	position: relative;
	background-color: orange;
	height: 150px;


}
aside{
	position: fixed;
	background-color: green;
	height: 100px;
	width: 100px;
	bottom:0px;
	/*bottom:0px;
	/*top:10px;
	/*bottom: 0px;
	/*width: 100%;
	z-index: 999;
	
	

}
footer{
	background-color: red;
	height: 150px;

}

div.position{
	position: relative;
	background-color: orange;
	height: 250px;
	/*width: 15%;*/
	top:0px;
	z-index: 999
}

nav{
	background-color: pink;
	height: 450px;
}*/