*{
	padding: 0;
	margin:0;
	
}

header{
	position: relative;
	background-color: red;
	height: 100px;
}

.busqueda{
	position: relative;
    top: 10px;
    float: right;
    text-decoration: none;
    background:none;
    border:none;
}
main{
	position: relative;
	float: left;
	background-color: yellow;
	height: auto;
	width: 70%;
}
aside{
	position: relative;
	left: 70%;
	background-color: green;
	height: 400px;
	width: 30%;	
}
footer{
	position: relative;
	background-color: black;
	height: 80px;	
}









